In [1]:
import numpy as np
import pandas as pd
import os

from dotenv import load_dotenv

In [2]:
# _mar is short for median asking rent
# Note that nyc_three_mar contains data for listings with three or more bedrooms

nyc_studio_mar = pd.read_csv('../../data/dataxp/airbnb_project/raw_data/street_easy/Studio/medianAskingRent_Studio.csv')
nyc_one_mar = pd.read_csv('../../data/dataxp/airbnb_project/raw_data/street_easy/OneBed/medianAskingRent_OneBd.csv')
nyc_two_mar = pd.read_csv('../../data/dataxp/airbnb_project/raw_data/street_easy/TwoBed/medianAskingRent_TwoBd.csv')
nyc_three_mar = pd.read_csv('../../data/dataxp/airbnb_project/raw_data/street_easy/ThreePlusBed/medianAskingRent_ThreePlusBd.csv')

In [3]:
nyc_studio_mar.head()

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
0,All Downtown,Manhattan,submarket,2350.0,2300.0,2200.0,2263.0,2300.0,2300.0,2280.0,...,2300.0,2295.0,2300.0,2375.0,2400.0,2495.0,2509.0,2665.0,2750.0,2800.0
1,All Midtown,Manhattan,submarket,2000.0,1995.0,1995.0,2000.0,2000.0,2000.0,2050.0,...,2100.0,2100.0,2100.0,2150.0,2150.0,2250.0,2320.0,2400.0,2500.0,2600.0
2,All Upper East Side,Manhattan,submarket,1750.0,1750.0,1750.0,1780.0,1800.0,1750.0,1750.0,...,1825.0,1800.0,1799.0,1800.0,1798.0,1800.0,1850.0,1890.0,1975.0,2000.0
3,All Upper Manhattan,Manhattan,submarket,1175.0,1150.0,1150.0,1150.0,1173.0,1195.0,1250.0,...,1650.0,1625.0,1650.0,1650.0,1650.0,1675.0,1695.0,1700.0,1745.0,1745.0
4,All Upper West Side,Manhattan,submarket,1800.0,1800.0,1795.0,1800.0,1895.0,1895.0,1800.0,...,1892.0,1900.0,1895.0,1944.0,1947.0,1994.0,2100.0,2195.0,2200.0,2200.0

In [4]:
nyc_one_mar.head()

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
0,All Downtown,Manhattan,submarket,2995.0,2950.0,2900.0,2975.0,2995.0,3000.0,3000.0,...,3000.0,3050.0,3150.0,3200.0,3250.0,3300.0,3400.0,3500.0,3600.0,3750.0
1,All Midtown,Manhattan,submarket,2800.0,2800.0,2850.0,2895.0,2900.0,2970.0,3000.0,...,2900.0,2895.0,2916.0,2950.0,3000.0,3157.0,3249.0,3350.0,3536.0,3595.0
2,All Upper East Side,Manhattan,submarket,2350.0,2300.0,2350.0,2470.0,2500.0,2500.0,2500.0,...,2400.0,2450.0,2350.0,2400.0,2400.0,2350.0,2425.0,2495.0,2569.0,2651.0
3,All Upper Manhattan,Manhattan,submarket,1500.0,1516.0,1545.0,1516.0,1550.0,1575.0,1550.0,...,1900.0,1863.0,1875.0,1875.0,1861.0,1900.0,1925.0,1950.0,1950.0,1925.0
4,All Upper West Side,Manhattan,submarket,2600.0,2565.0,2495.0,2500.0,2500.0,2600.0,2600.0,...,2650.0,2650.0,2650.0,2694.0,2700.0,2750.0,2900.0,2899.0,2938.0,3050.0

In [5]:
nyc_two_mar.head()

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
0,All Downtown,Manhattan,submarket,4400.0,4450.0,4400.0,4400.0,4400.0,4295.0,4295.0,...,3621.0,3696.0,3695.0,3725.0,3550.0,3550.0,3750.0,4000.0,4195.0,4500.0
1,All Midtown,Manhattan,submarket,4690.0,4500.0,4500.0,4495.0,4500.0,4500.0,4495.0,...,3933.0,4000.0,4081.0,4162.0,4295.0,4400.0,4421.0,4200.0,4900.0,5467.0
2,All Upper East Side,Manhattan,submarket,3500.0,3625.0,3800.0,3950.0,3965.0,3900.0,3800.0,...,2995.0,3025.0,3000.0,3195.0,3000.0,2995.0,2950.0,2900.0,3098.0,3395.0
3,All Upper Manhattan,Manhattan,submarket,2000.0,1985.0,1950.0,1950.0,1975.0,1975.0,2000.0,...,2295.0,2300.0,2300.0,2299.0,2350.0,2350.0,2350.0,2400.0,2400.0,2399.0
4,All Upper West Side,Manhattan,submarket,4200.0,4100.0,4100.0,4498.0,4500.0,4500.0,3995.0,...,3900.0,3950.0,3995.0,4000.0,4024.0,4200.0,4275.0,4600.0,4600.0,4825.0

In [6]:
nyc_studio_mar[nyc_studio_mar['Borough'] == 'Brooklyn']

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
7,Bath Beach,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Bay Ridge,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1450.0,1450.0,1400.0,1399.0,1350.0,1445.0,1425.0,1450.0,1449.0,1425.0
13,Bedford-Stuyvesant,Brooklyn,neighborhood,NaN,NaN,NaN,1033.0,NaN,1233.0,1225.0,...,1699.0,1700.0,1700.0,1683.0,1745.0,1700.0,1734.0,1850.0,1887.0,1950.0
16,Bensonhurst,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Bergen Beach,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Boerum Hill,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,1876.0,...,1900.0,1875.0,1850.0,1773.0,1900.0,1900.0,1850.0,1850.0,1900.0,1900.0
19,Borough Park,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Brighton Beach,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1540.0,NaN,1530.0,1525.0,1400.0,1390.0,1573.0,1560.0,1600.0,1800.0
24,Brooklyn,Brooklyn,borough,1690.0,1725.0,1781.0,1725.0,1741.0,1665.0,1742.0,...,1899.0,1900.0,1950.0,1950.0,1969.0,1950.0,2000.0,2100.0,2099.0,2150.0
25,Brooklyn Heights,Brooklyn,neighborhood,1925.0,1900.0,1700.0,1725.0,1675.0,1675.0,1700.0,...,1900.0,1900.0,1850.0,1850.0,1900.0,1973.0,2195.0,2200.0,2295.0,2300.0
27,Brownsville,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bushwick,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1838.0,1900.0,1969.0,1923.0,1900.0,1969.0,1999.0,2131.0,2400.0,2500.0
30,Canarsie,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Carroll Gardens,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,2138.0,2179.0,2013.0,2181.0,2000.0,2200.0,2350.0,2500.0,2500.0
41,Clinton Hill,Brooklyn,neighborhood,NaN,NaN,NaN,2250.0,2100.0,NaN,NaN,...,1800.0,1900.0,1800.0,1900.0,1899.0,1890.0,1999.0,2000.0,2238.0,2100.0
43,Cobble Hill,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1900.0,1750.0,1875.0,1900.0,2100.0,2150.0,2200.0,2400.0,2350.0,2450.0
45,Columbia St Waterfront District,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2118.0
47,Coney Island,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1784.0,1788.0,1677.0,1695.0,1688.0,1671.0,1614.0,1594.0,1633.0,1665.0
51,Crown Heights,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1666.0,1699.0,1699.0,1675.0,1699.0,1675.0,1650.0,1750.0,1799.0,1800.0
52,DUMBO,Brooklyn,neighborhood,NaN,NaN,2788.0,2738.0,2775.0,NaN,NaN,...,3148.0,2895.0,2850.0,2895.0,3095.0,3195.0,3448.0,3400.0,3400.0,NaN
53,Ditmas Park,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1575.0,1505.0,1585.0,1450.0,1595.0,1649.0,1647.0,1625.0,1575.0,1600.0
55,Downtown Brooklyn,Brooklyn,neighborhood,1731.0,1765.0,1783.0,1805.0,1805.0,1805.0,1849.0,...,2128.0,2150.0,2300.0,2400.0,2422.0,2595.0,2650.0,2750.0,2895.0,3137.0
56,Dyker Heights,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,East Brooklyn,Brooklyn,submarket,1500.0,NaN,1225.0,1213.0,1275.0,1000.0,1100.0,...,1700.0,1750.0,1800.0,1763.0,1750.0,1745.0,1770.0,1900.0,1999.0,2099.0
59,East Flatbush,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600.0,1600.0,1675.0,1599.0,1591.0,1581.0,1581.0,1800.0,1813.0,1530.0
61,East New York,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Flatbush,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1573.0,1550.0,1631.0,1650.0,1600.0,1550.0,1599.0,1749.0,1753.0,1800.0
70,Flatlands,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Fort Greene,Brooklyn,neighborhood,NaN,1450.0,1413.0,NaN,NaN,NaN,1680.0,...,2150.0,2363.0,2360.0,2393.0,2390.0,2395.0,2511.0,2503.0,2450.0,2925.0
77,Gerritsen Beach,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Gowanus,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2595.0,2595.0,2500.0,2500.0,2513.0,2495.0,2565.0,2555.0,2703.0,2740.0
82,Gravesend,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1459.0,NaN,NaN,1497.0,NaN,NaN,1475.0,1438.0
83,Greenpoint,Brooklyn,neighborhood,1450.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2500.0,2252.0,2123.0,2575.0,2500.0,2450.0,2450.0,2713.0,2868.0,3148.0
85,Greenwood,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,2000.0,2000.0,2000.0,2000.0,1975.0,1985.0,1975.0,2100.0,2000.0
97,Kensington,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1550.0,1475.0,1450.0,1498.0,1500.0,1495.0,1500.0,1550.0,1585.0,1568.0
109,Manhattan Beach,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,Marine Park,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Midwood,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1463.0,1438.0,1445.0,1400.0,1450.0,1400.0,1475.0,1550.0,1525.0,1450.0
120,Mill Basin,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,North Brooklyn,Brooklyn,submarket,1898.0,1948.0,2060.0,2255.0,2100.0,2000.0,2150.0,...,2553.0,2500.0,2540.0,2656.0,2665.0,2703.0,2800.0,2860.0,2900.0,3025.0
132,Northwest Brooklyn,Brooklyn,submarket,1877.0,1781.0,1929.0,1878.0,1805.0,1750.0,1794.0,...,2085.0,2095.0,2100.0,2200.0,2250.0,2300.0,2400.0,2495.0,2500.0,2700.0
136,Ocean Parkway,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Old Mill Basin,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Park Slope,Brooklyn,neighborhood,1550.0,1600.0,1500.0,1500.0,1498.0,1400.0,1400.0,...,1850.0,1800.0,1900.0,1950.0,1885.0,1963.0,2000.0,2156.0,2195.0,2200.0
146,Prospect Heights,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,2000.0,2065.0,2137.0,1875.0,2137.0,2137.0,2137.0,2670.0,3110.0
147,Prospect Lefferts Gardens,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1500.0,1490.0,1515.0,1563.0,1525.0,1575.0,1525.0,1625.0,1700.0,1745.0
148,Prospect Park,Brooklyn,submarket,1500.0,1500.0,1448.0,1400.0,1400.0,1400.0,1395.0,...,1700.0,1700.0,1800.0,1875.0,1795.0,1820.0,1900.0,1895.0,2000.0,2150.0
149,Prospect Park South,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1538.0,1450.0,1506.0,1500.0,1450.0,1512.0,1573.0,1550.0,1550.0,1600.0
152,Red Hook,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,Seagate,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,Sheepshead Bay,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1667.0,1608.0,1597.0,1354.0,1415.0,1560.0,1560.0,1500.0,1499.0,1499.0
165,South Brooklyn,Brooklyn,submarket,1350.0,1395.0,1400.0,1350.0,1350.0,1350.0,1250.0,...,1550.0,1500.0,1542.0,1500.0,1519.0,1500.0,1550.0,1571.0,1584.0,1575.0
175,Sunset Park,Brooklyn,neighborhood,1500.0,1500.0,1450.0,1450.0,1450.0,1425.0,1400.0,...,1450.0,1458.0,NaN,1800.0,1450.0,1500.0,1500.0,NaN,NaN,1435.0
192,Williamsburg,Brooklyn,neighborhood,1913.0,1948.0,2095.0,2163.0,2080.0,2000.0,2020.0,...,2602.0,2505.0,2584.0,2658.0,2675.0,2795.0,2821.0,2884.0,2900.0,3000.0
193,Windsor Terrace,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1883.0,1850.0,1900.0,1995.0,1975.0,1950.0,NaN,NaN

### Cleaning the Data

In [7]:
# Zero bedrooms will indicate a studio
# String chosen as data type in order to support '3 plus' bedrooms

nyc_studio_mar['Bedrooms'] = '0'
nyc_one_mar['Bedrooms'] = '1'
nyc_two_mar['Bedrooms'] = '2'
nyc_three_mar['Bedrooms'] = '3 plus'

In [8]:
# For future reference. We will need to remove 'All' from the first five entries, but it will be easier to do this
# once all of the DataFrames have been concatenated

nyc_studio_mar['areaName'].tolist()

['All Downtown',
 'All Midtown',
 'All Upper East Side',
 'All Upper Manhattan',
 'All Upper West Side',
 'Astoria',
 'Auburndale',
 'Bath Beach',
 'Battery Park City',
 'Bay Ridge',
 'Baychester',
 'Bayside',
 'Bedford Park',
 'Bedford-Stuyvesant',
 'Bellerose',
 'Belmont',
 'Bensonhurst',
 'Bergen Beach',
 'Boerum Hill',
 'Borough Park',
 'Briarwood',
 'Brighton Beach',
 'Bronx',
 'Bronxwood',
 'Brooklyn',
 'Brooklyn Heights',
 'Brookville',
 'Brownsville',
 'Bushwick',
 'Cambria Heights',
 'Canarsie',
 'Carroll Gardens',
 'Castle Hill',
 'Central Harlem',
 'Central Park South',
 'Central Queens',
 'Chelsea',
 'Chinatown',
 'City Island',
 'Civic Center',
 'Clearview',
 'Clinton Hill',
 'Co-op City',
 'Cobble Hill',
 'College Point',
 'Columbia St Waterfront District',
 'Concourse',
 'Coney Island',
 'Corona',
 'Country Club',
 'Crotona Park East',
 'Crown Heights',
 'DUMBO',
 'Ditmas Park',
 'Douglaston',
 'Downtown Brooklyn',
 'Dyker Heights',
 'East Brooklyn',
 'East Elmhurst',
 'East Flatbush',
 'East Harlem',
 'East New York',
 'East Tremont',
 'East Village',
 'Eastchester',
 'Edenwald',
 'Elmhurst',
 'Financial District',
 'Flatbush',
 'Flatiron',
 'Flatlands',
 'Floral Park',
 'Flushing',
 'Fordham',
 'Forest Hills',
 'Fort Greene',
 'Fresh Meadows',
 'Gerritsen Beach',
 'Glen Oaks',
 'Glendale',
 'Gowanus',
 'Gramercy Park',
 'Gravesend',
 'Greenpoint',
 'Greenwich Village',
 'Greenwood',
 'Hamilton Heights',
 'Highbridge',
 'Hillcrest',
 'Hollis',
 'Howard Beach',
 'Hunts Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Estates',
 'Jamaica Hills',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge',
 'Laconia',
 'Laurelton',
 'Little Italy',
 'Little Neck',
 'Long Island City',
 'Longwood',
 'Lower East Side',
 'Manhattan',
 'Manhattan Beach',
 'Marble Hill',
 'Marine Park',
 'Maspeth',
 'Melrose',
 'Middle Village',
 'Midtown',
 'Midtown East',
 'Midtown South',
 'Midtown West',
 'Midwood',
 'Mill Basin',
 'Morningside Heights',
 'Morris Heights',
 'Morris Park',
 'Morrisania',
 'Mott Haven',
 'NYC',
 'New Hyde Park',
 'Nolita',
 'North Brooklyn',
 'North Corona',
 'Northeast Queens',
 'Northwest Brooklyn',
 'Northwest Queens',
 'Norwood',
 'Oakland Gardens',
 'Ocean Parkway',
 'Old Mill Basin',
 'Ozone Park',
 'Park Slope',
 'Parkchester',
 'Pelham Bay',
 'Pelham Gardens',
 'Pelham Parkway',
 'Pomonok',
 'Port Morris',
 'Prospect Heights',
 'Prospect Lefferts Gardens',
 'Prospect Park',
 'Prospect Park South',
 'Queens',
 'Queens Village',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Ridgewood',
 'Riverdale',
 'Rockaway All',
 'Roosevelt Island',
 'Rosedale',
 'Schuylerville',
 'Seagate',
 'Sheepshead Bay',
 'Soho',
 'Soundview',
 'South Brooklyn',
 'South Jamaica',
 'South Ozone Park',
 'South Queens',
 'South Richmond Hill',
 'Springfield Gardens',
 'St. Albans',
 'Staten Island',
 'Stuyvesant Town/PCV',
 'Sunnyside',
 'Sunset Park',
 'The Rockaways',
 'Throgs Neck',
 'Tremont',
 'Tribeca',
 'University Heights',
 'Upper East Side',
 'Upper West Side',
 'Utopia',
 'Van Nest',
 'Wakefield',
 'Washington Heights',
 'West Harlem',
 'West Village',
 'Westchester Village',
 'Whitestone',
 'Williamsbridge',
 'Williamsburg',
 'Windsor Terrace',
 'Woodhaven',
 'Woodlawn',
 'Woodside',
 'Woodstock']

In [9]:
cols = nyc_studio_mar.columns.tolist()

In [10]:
# This is how we will reorder the columns

cols = cols[:3] + cols[-1:] + cols[3:-1]

In [11]:
cols

['areaName',
 'Borough',
 'areaType',
 'Bedrooms',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12',
 '2020-01',
 '2020-02',
 '2020-03',
 '2020-04',
 '2020-05',
 '2020-06',
 '2020-07',
 '2020-08',
 '2020-09',
 '2020-10',
 '2020-11',
 '2020-12',
 '2021-01',
 '2021-02',
 '2021-03',
 '2021-04',
 '2021-05',
 '2021-06',
 '2021-07',
 '2021-08']

In [12]:
# Checking the reorder.

nyc_studio_mar[cols].head()

,areaName,Borough,areaType,Bedrooms,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
0,All Downtown,Manhattan,submarket,0,2350.0,2300.0,2200.0,2263.0,2300.0,2300.0,...,2300.0,2295.0,2300.0,2375.0,2400.0,2495.0,2509.0,2665.0,2750.0,2800.0
1,All Midtown,Manhattan,submarket,0,2000.0,1995.0,1995.0,2000.0,2000.0,2000.0,...,2100.0,2100.0,2100.0,2150.0,2150.0,2250.0,2320.0,2400.0,2500.0,2600.0
2,All Upper East Side,Manhattan,submarket,0,1750.0,1750.0,1750.0,1780.0,1800.0,1750.0,...,1825.0,1800.0,1799.0,1800.0,1798.0,1800.0,1850.0,1890.0,1975.0,2000.0
3,All Upper Manhattan,Manhattan,submarket,0,1175.0,1150.0,1150.0,1150.0,1173.0,1195.0,...,1650.0,1625.0,1650.0,1650.0,1650.0,1675.0,1695.0,1700.0,1745.0,1745.0
4,All Upper West Side,Manhattan,submarket,0,1800.0,1800.0,1795.0,1800.0,1895.0,1895.0,...,1892.0,1900.0,1895.0,1944.0,1947.0,1994.0,2100.0,2195.0,2200.0,2200.0

In [13]:
# Reorder each column in rental_dfs.

rental_dfs = [
    nyc_studio_mar,
    nyc_one_mar,
    nyc_two_mar,
    nyc_three_mar
]

new_dfs = [ df[cols] for df in rental_dfs ]

In [14]:
# Concatenate all reordered DataFrames in new_dfs into a new DataFrame.

sql_df = pd.concat(new_dfs)

In [15]:
sql_df

,areaName,Borough,areaType,Bedrooms,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
0,All Downtown,Manhattan,submarket,0,2350.0,2300.0,2200.0,2263.0,2300.0,2300.0,...,2300.0,2295.0,2300.0,2375.0,2400.0,2495.0,2509.0,2665.0,2750.0,2800.0
1,All Midtown,Manhattan,submarket,0,2000.0,1995.0,1995.0,2000.0,2000.0,2000.0,...,2100.0,2100.0,2100.0,2150.0,2150.0,2250.0,2320.0,2400.0,2500.0,2600.0
2,All Upper East Side,Manhattan,submarket,0,1750.0,1750.0,1750.0,1780.0,1800.0,1750.0,...,1825.0,1800.0,1799.0,1800.0,1798.0,1800.0,1850.0,1890.0,1975.0,2000.0
3,All Upper Manhattan,Manhattan,submarket,0,1175.0,1150.0,1150.0,1150.0,1173.0,1195.0,...,1650.0,1625.0,1650.0,1650.0,1650.0,1675.0,1695.0,1700.0,1745.0,1745.0
4,All Upper West Side,Manhattan,submarket,0,1800.0,1800.0,1795.0,1800.0,1895.0,1895.0,...,1892.0,1900.0,1895.0,1944.0,1947.0,1994.0,2100.0,2195.0,2200.0,2200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Windsor Terrace,Brooklyn,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,3548.0,3350.0,3000.0,3000.0,3200.0,3200.0,3200.0,4900.0,4263.0,NaN
194,Woodhaven,Queens,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Woodlawn,Bronx,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Woodside,Queens,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,2600.0,2700.0,2700.0,2675.0,2600.0,2550.0,2550.0,2500.0,2600.0,2595.0
197,Woodstock,Bronx,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Reset the index to match its corresponding row number

sql_df.reset_index(inplace = True)
sql_df.drop('index', axis = 1, inplace = True)

In [17]:
sql_df

,areaName,Borough,areaType,Bedrooms,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08
0,All Downtown,Manhattan,submarket,0,2350.0,2300.0,2200.0,2263.0,2300.0,2300.0,...,2300.0,2295.0,2300.0,2375.0,2400.0,2495.0,2509.0,2665.0,2750.0,2800.0
1,All Midtown,Manhattan,submarket,0,2000.0,1995.0,1995.0,2000.0,2000.0,2000.0,...,2100.0,2100.0,2100.0,2150.0,2150.0,2250.0,2320.0,2400.0,2500.0,2600.0
2,All Upper East Side,Manhattan,submarket,0,1750.0,1750.0,1750.0,1780.0,1800.0,1750.0,...,1825.0,1800.0,1799.0,1800.0,1798.0,1800.0,1850.0,1890.0,1975.0,2000.0
3,All Upper Manhattan,Manhattan,submarket,0,1175.0,1150.0,1150.0,1150.0,1173.0,1195.0,...,1650.0,1625.0,1650.0,1650.0,1650.0,1675.0,1695.0,1700.0,1745.0,1745.0
4,All Upper West Side,Manhattan,submarket,0,1800.0,1800.0,1795.0,1800.0,1895.0,1895.0,...,1892.0,1900.0,1895.0,1944.0,1947.0,1994.0,2100.0,2195.0,2200.0,2200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,Windsor Terrace,Brooklyn,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,3548.0,3350.0,3000.0,3000.0,3200.0,3200.0,3200.0,4900.0,4263.0,NaN
788,Woodhaven,Queens,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,Woodlawn,Bronx,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,Woodside,Queens,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,2600.0,2700.0,2700.0,2675.0,2600.0,2550.0,2550.0,2500.0,2600.0,2595.0
791,Woodstock,Bronx,neighborhood,3 plus,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sql_df.rename(columns = {
    'areaName': 'area_name',
    'Borough': 'borough',
    'areaType': 'area_type',
    'Bedrooms': 'bedrooms'
}, inplace = True)

In [19]:
# 'All ' replaces the Manhattan area_name rows, and ' All' replaces 'Rockaway All' rows for Queens.

sql_df['area_name'] = sql_df['area_name'].str.replace('All ', '').str.replace(' All', '')

In [20]:
sql_df['area_name'].str.contains('All').value_counts()

False    792
Name: area_name, dtype: int64

In [21]:
# Alter the data to a format that is friendly for Tableau.
# list(sql_df.columns[:4] = ['area_name', 'borough', 'area_type', 'bedrooms']

sql_df = sql_df.melt(id_vars = list(sql_df.columns[:4]),
                     var_name = 'date',
                     value_name = 'price')

In [22]:
sql_df.head()

         area_name    borough  area_type bedrooms     date   price
0         Downtown  Manhattan  submarket        0  2010-01  2350.0
1          Midtown  Manhattan  submarket        0  2010-01  2000.0
2  Upper East Side  Manhattan  submarket        0  2010-01  1750.0
3  Upper Manhattan  Manhattan  submarket        0  2010-01  1175.0
4  Upper West Side  Manhattan  submarket        0  2010-01  1800.0

In [23]:
sql_df.drop('area_type', axis = 1, inplace = True)

### Creating the Postgres Table

`sqlalchemy` was chosen as a tool so that a `CREATE TABLE` query with 144 columns would not have to be created manually. It is worth noting that the default column that is created for the numerical columns is a double precision, which may use more bytes than would be necessary to store the data in Postgres.

In [24]:
load_dotenv()

from sqlalchemy import create_engine
engine = create_engine(os.getenv('ENGINE'))
sql_df.to_sql('street_easy_nyc', engine, index = False)