In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../../data/northwind/northwind_sales_two.csv')

In [3]:
df.head()

,customer_id,city,country,order_date,product_name,quantity,unit_price,discount
0,ALFKI,Berlin,Germany,1997-10-13,Aniseed Syrup,6,10.00,0.00
1,ALFKI,Berlin,Germany,1997-08-25,Rössle Sauerkraut,15,45.60,0.25
2,ALFKI,Berlin,Germany,1998-03-16,Grandma's Boysenberry Spread,16,25.00,0.05
3,ALFKI,Berlin,Germany,1998-04-09,Flotemysost,20,21.50,0.00
4,ALFKI,Berlin,Germany,1998-04-09,Escargots de Bourgogne,40,13.25,0.05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   2155 non-null   object
 1   city          2155 non-null   object
 2   country       2155 non-null   object
 3   order_date    2155 non-null   object
 4   product_name  2155 non-null   object
 5   quantity      2155 non-null   int64
 6   unit_price    2155 non-null   float64
 7   discount      2155 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 134.8+ KB

In [5]:
df['sales_amount'] = df['quantity'] * df['unit_price'] * (1 - df['discount'])

In [6]:
df[df['city'] == 'Århus']

,customer_id,city,country,order_date,product_name,quantity,unit_price,discount,sales_amount
1934,VAFFE,Århus,Denmark,1997-07-07,Aniseed Syrup,14,10.00,0.00,140.000
1935,VAFFE,Århus,Denmark,1998-04-02,Raclette Courdavault,18,55.00,0.05,940.500
1936,VAFFE,Århus,Denmark,1997-03-05,Valkoinen suklaa,25,16.25,0.00,406.250
1937,VAFFE,Århus,Denmark,1997-03-05,Rogede sild,30,9.50,0.10,256.500
1938,VAFFE,Århus,Denmark,1997-03-05,Boston Crab Meat,20,18.40,0.00,368.000
1939,VAFFE,Århus,Denmark,1997-03-05,Thüringer Rostbratwurst,18,123.79,0.10,2005.398
1940,VAFFE,Århus,Denmark,1997-03-05,Guaraná Fantástica,25,4.50,0.00,112.500
1941,VAFFE,Århus,Denmark,1997-07-07,Uncle Bob's Organic Dried Pears,10,30.00,0.00,300.000
1942,VAFFE,Århus,Denmark,1997-07-07,Tourtière,50,7.45,0.00,372.500
1943,VAFFE,Århus,Denmark,1997-07-17,Original Frankfurter grüne Soße,5,13.00,0.25,48.750
1944,VAFFE,Århus,Denmark,1997-11-17,Boston Crab Meat,50,18.40,0.20,736.000
1945,VAFFE,Århus,Denmark,1996-12-31,Original Frankfurter grüne Soße,14,13.00,0.00,182.000
1946,VAFFE,Århus,Denmark,1996-12-31,Lakkalikööri,35,18.00,0.00,630.000
1947,VAFFE,Århus,Denmark,1996-12-31,Flotemysost,30,21.50,0.00,645.000
1948,VAFFE,Århus,Denmark,1996-12-31,Scottish Longbreads,60,12.50,0.00,750.000
1949,VAFFE,Århus,Denmark,1996-11-28,Original Frankfurter grüne Soße,7,13.00,0.00,91.000
1950,VAFFE,Århus,Denmark,1998-03-12,Original Frankfurter grüne Soße,40,13.00,0.00,520.000
1951,VAFFE,Århus,Denmark,1996-11-28,Louisiana Fiery Hot Pepper Sauce,15,21.05,0.00,315.750
1952,VAFFE,Århus,Denmark,1996-11-28,Tourtière,18,7.45,0.00,134.100
1953,VAFFE,Århus,Denmark,1996-11-28,Sasquatch Ale,36,14.00,0.00,504.000
1954,VAFFE,Århus,Denmark,1998-03-12,Guaraná Fantástica,25,4.50,0.00,112.500
1955,VAFFE,Århus,Denmark,1998-03-12,Ikura,25,31.00,0.00,775.000
1956,VAFFE,Århus,Denmark,1997-10-01,Sasquatch Ale,14,14.00,0.00,196.000
1957,VAFFE,Århus,Denmark,1997-10-01,Rössle Sauerkraut,60,45.60,0.10,2462.400
1958,VAFFE,Århus,Denmark,1998-03-03,Steeleye Stout,10,18.00,0.00,180.000
1959,VAFFE,Århus,Denmark,1998-03-03,Vegie-spread,40,43.90,0.00,1756.000
1960,VAFFE,Århus,Denmark,1997-10-01,Ikura,18,31.00,0.10,502.200
1961,VAFFE,Århus,Denmark,1997-12-08,Jack's New England Clam Chowder,30,9.65,0.05,275.025
1962,VAFFE,Århus,Denmark,1997-12-08,Filo Mix,15,7.00,0.05,99.750
1963,VAFFE,Århus,Denmark,1997-12-08,Sirop d'érable,20,28.50,0.00,570.000
1964,VAFFE,Århus,Denmark,1997-12-08,Tarte au sucre,15,49.30,0.00,739.500

In [7]:
# Need something like this for every city in one dataframe.
# Then save that to a .csv for Tableau
df[df['city'] == 'Århus'].groupby('product_name').sum()

                                  quantity  unit_price  discount  sales_amount
product_name
Aniseed Syrup                           14       10.00      0.00       140.000
Boston Crab Meat                        70       36.80      0.20      1104.000
Filo Mix                                15        7.00      0.05        99.750
Flotemysost                             30       21.50      0.00       645.000
Guaraná Fantástica                      50        9.00      0.00       225.000
Ikura                                   43       62.00      0.10      1277.200
Jack's New England Clam Chowder         30        9.65      0.05       275.025
Lakkalikööri                            35       18.00      0.00       630.000
Louisiana Fiery Hot Pepper Sauce        15       21.05      0.00       315.750
Original Frankfurter grüne Soße         66       52.00      0.25       841.750
Raclette Courdavault                    18       55.00      0.05       940.500
Rogede sild                             30        9.50      0.10       256.500
Rössle Sauerkraut                       60       45.60      0.10      2462.400
Sasquatch Ale                           50       28.00      0.00       700.000
Scottish Longbreads                     60       12.50      0.00       750.000
Sirop d'érable                          20       28.50      0.00       570.000
Steeleye Stout                          10       18.00      0.00       180.000
Tarte au sucre                          15       49.30      0.00       739.500
Thüringer Rostbratwurst                 18      123.79      0.10      2005.398
Tourtière                               68       14.90      0.00       506.600
Uncle Bob's Organic Dried Pears         10       30.00      0.00       300.000
Valkoinen suklaa                        25       16.25      0.00       406.250
Vegie-spread                            40       43.90      0.00      1756.000

In [8]:
sales_df = df.groupby(['city', 'product_name']).sum()

In [9]:
sales_df

                                        quantity  unit_price  discount  \
city   product_name
Aachen Gorgonzola Telino                      20       12.50       0.0
       Gumbär Gummibärchen                    12       31.23       0.0
       Jack's New England Clam Chowder         9        9.65       0.0
       Konbu                                  25       12.00       0.0
       Lakkalikööri                           12       18.00       0.0
...                                          ...         ...       ...
Århus  Thüringer Rostbratwurst                18      123.79       0.1
       Tourtière                              68       14.90       0.0
       Uncle Bob's Organic Dried Pears        10       30.00       0.0
       Valkoinen suklaa                       25       16.25       0.0
       Vegie-spread                           40       43.90       0.0

                                        sales_amount
city   product_name
Aachen Gorgonzola Telino                     250.000
       Gumbär Gummibärchen                   374.760
       Jack's New England Clam Chowder        86.850
       Konbu                                 150.000
       Lakkalikööri                          216.000
...                                              ...
Århus  Thüringer Rostbratwurst              2005.398
       Tourtière                             506.600
       Uncle Bob's Organic Dried Pears       300.000
       Valkoinen suklaa                      406.250
       Vegie-spread                         1756.000

[1574 rows x 4 columns]

In [10]:
# Confirmation that this is working as desired.
sales_df['sales_amount']['Århus']

product_name
Aniseed Syrup                        140.000
Boston Crab Meat                    1104.000
Filo Mix                              99.750
Flotemysost                          645.000
Guaraná Fantástica                   225.000
Ikura                               1277.200
Jack's New England Clam Chowder      275.025
Lakkalikööri                         630.000
Louisiana Fiery Hot Pepper Sauce     315.750
Original Frankfurter grüne Soße      841.750
Raclette Courdavault                 940.500
Rogede sild                          256.500
Rössle Sauerkraut                   2462.400
Sasquatch Ale                        700.000
Scottish Longbreads                  750.000
Sirop d'érable                       570.000
Steeleye Stout                       180.000
Tarte au sucre                       739.500
Thüringer Rostbratwurst             2005.398
Tourtière                            506.600
Uncle Bob's Organic Dried Pears      300.000
Valkoinen suklaa                     406.250
Vegie-spread                        1756.000
Name: sales_amount, dtype: float64

In [11]:
sales_df.unstack()['sales_amount'].fillna(0)

product_name,Alice Mutton,Aniseed Syrup,Boston Crab Meat,Camembert Pierrot,Carnarvon Tigers,Chai,Chang,Chartreuse verte,Chef Anton's Cajun Seasoning,Chef Anton's Gumbo Mix,...,Teatime Chocolate Biscuits,Thüringer Rostbratwurst,Tofu,Tourtière,Tunnbröd,Uncle Bob's Organic Dried Pears,Valkoinen suklaa,Vegie-spread,Wimmers gute Semmelknödel,Zaanse koeken
city,,,,,,,,,,,,,,,,,,,,,
Aachen,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0000,0.00,0.0,0.0,0.00,0.0,0.000,0.0
Albuquerque,2675.4,40.0,0.0,777.92,0.00,324.0,649.8,34.2,434.5,204.96,...,0.0,0.000,22.5525,0.00,18.0,2278.5,0.00,0.0,1062.005,0.0
Anchorage,780.0,0.0,0.0,0.00,1406.25,0.0,0.0,486.0,0.0,0.00,...,0.0,2785.275,0.0000,0.00,0.0,0.0,0.00,0.0,0.000,0.0
Barcelona,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0000,0.00,0.0,0.0,0.00,0.0,232.750,47.5
Barquisimeto,0.0,0.0,0.0,1407.60,0.00,0.0,0.0,122.4,0.0,0.00,...,165.6,0.000,0.0000,111.75,535.5,427.5,0.00,0.0,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vancouver,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0000,0.00,90.0,0.0,0.00,0.0,0.000,0.0
Versailles,234.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0000,0.00,0.0,150.0,0.00,0.0,0.000,0.0
Walla Walla,0.0,0.0,184.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,0.000,0.0000,0.00,0.0,0.0,0.00,0.0,0.000,0.0
Warszawa,0.0,0.0,0.0,510.00,0.00,108.0,380.0,0.0,0.0,0.00,...,0.0,0.000,0.0000,22.35,0.0,0.0,0.00,0.0,0.000,0.0
Århus,0.0,140.0,1104.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0.0,2005.398,0.0000,506.60,0.0,300.0,406.25,1756.0,0.000,0.0

In [12]:
sales_df.unstack()['quantity'].fillna(0)

product_name,Alice Mutton,Aniseed Syrup,Boston Crab Meat,Camembert Pierrot,Carnarvon Tigers,Chai,Chang,Chartreuse verte,Chef Anton's Cajun Seasoning,Chef Anton's Gumbo Mix,...,Teatime Chocolate Biscuits,Thüringer Rostbratwurst,Tofu,Tourtière,Tunnbröd,Uncle Bob's Organic Dried Pears,Valkoinen suklaa,Vegie-spread,Wimmers gute Semmelknödel,Zaanse koeken
city,,,,,,,,,,,,,,,,,,,,,
Aachen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Albuquerque,73.0,4.0,0.0,23.0,0.0,18.0,39.0,2.0,26.0,12.0,...,0.0,0.0,1.0,0.0,2.0,76.0,0.0,0.0,32.0,0.0
Anchorage,20.0,0.0,0.0,0.0,25.0,0.0,0.0,30.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Barcelona,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,5.0
Barquisimeto,0.0,0.0,0.0,43.0,0.0,0.0,0.0,8.0,0.0,0.0,...,18.0,0.0,0.0,20.0,70.0,15.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vancouver,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
Versailles,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
Walla Walla,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Warszawa,0.0,0.0,0.0,15.0,0.0,6.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
Århus,0.0,14.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,18.0,0.0,68.0,0.0,10.0,25.0,40.0,0.0,0.0